// Background image variables
$body-background-url: '/public/images/background.png';

// Calculator color variables
$calculator-background-color: #22252D;

// Result display color variables
$result-display-background-color: #88A273;
$result-display-font-color: #1C2610;
$result-display-drop-shadow-color: rgba(0, 0, 0, 0.75);
$result-display-border-color: #1C1F27;

// Font color variables
$font-color: white;

// Blue button color variables
$button-blue-color: #5D8FDC;
$button-blue-hover-color: #7DA5E3;
$button-blue-active-color: #4A72B0;

// Black button color variables
$button-black-color: #2A2D37;
$button-black-hover-color: #55575F;
$button-black-active-color: #22242C;
$button-black-disabled-color: $calculator-background-color;