// Background image variables
$body-background-url: "/images/background.png";

// Calculator color variables
$calculator-background-color: #22252D;
$calculator-drop-shadow-color: rgba(0, 0, 0, 0.25);

// Result visor color variables
$result-visor-background-color: #88A273;
$result-visor-font-color: #1C2610;
$result-visor-drop-shadow-color: rgba(0, 0, 0, 0.25);

// Font color variables
$font-color: white;

// Blue button color variables
$button-blue-color: #5D8FDC;
$button-blue-hover-color: #7DA5E3;
$button-blue-active-color: #4A72B0;

// Black button color variables
$button-black-color: #2A2D37;
$button-black-hover-color: #55575F;
$button-black-active-color: #22242C;